<header class="sticky top-0 z-50">
  <nav class="bg-emerald-700 h-12 w-full">
    <div class="flex items-center h-full py-1 px-1">
      <button type="button" class="md:hidden text-white bg-emerald-700 hover:bg-emerald-800 focus:ring-2 focus:outline-none focus:ring-emerald-500 h-full" data-drawer-target="drawer" data-drawer-toggle="drawer" aria-controls="drawer">
        <svg class="w-12 h-7" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path fill="none" d="M0 0h24v24H0z" />
          <path d="M3 4h18v2H3V4zm0 7h18v2H3v-2zm0 7h18v2H3v-2z" /></svg>
      </button>
    </div>
  </nav>
  <!-- Alerts -->
  <div id="alerts" class="flex flex-col gap-y-1 fixed top-5 right-5">
  </div>
</header>