<div id="chat-tab-content" role="tabpanel" aria-labelledby="chat-tab" class="hidden">
  <div id="chat-body" class="pb-40 md:px-2 md:pt-2">
    <div class="flex flex-col gap-2 w-full px-3 pt-5 md:px-4">
      <div class="bg-white dark:bg-zinc-800 p-3 rounded">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
    <div class="fixed bottom-0 left-0 right-0 md:left-64">
      <label for="chat" class="sr-only">Your message</label>
      <div class="flex items-center px-3 py-2 bg-zinc-50 dark:bg-zinc-700">
        <textarea id="chat" rows="1" class="block mx-4 p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-emerald-500 focus:border-emerald-500 dark:bg-zinc-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-emerald-500 dark:focus:border-emerald-500" placeholder="Your message..."></textarea>
        <button type="submit" class="inline-flex justify-center p-2 text-emerald-600 rounded-full cursor-pointer hover:bg-emerald-100 dark:text-emerald-500 dark:hover:bg-zinc-600">
          <svg aria-hidden="true" class="w-6 h-6 rotate-90" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z"></path>
          </svg>
          <span class="sr-only">Send message</span>
        </button>
      </div>
    </div>
  </div>