<div id="players-tab-content" role="tabpanel" aria-labelledby="players-tab" class="hidden bg-white px-5 py-5 md:my-5 md:mx-5 md:rounded-lg dark:bg-zinc-800">
  <ul id="players-list" role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
  </ul>
</div>