<form id="form" action="" method="post">
  <label for="address">Address:</label>
  <input id="address" type="text" name="address"> <br>
  <label for="port">port:</label>
  <input id="port" type="text" name="port"> <br>
  <label for="name">name:</label>
  <input id="name" type="text" name="name"> <br>
  <label for="password">password:</label>
  <input id="password" type="text" name="password"> <br>
  <label for="version">version:</label>
  <input id="version" type="text" name="version"> <br>

  <input type="submit" value="connect">
</form>